{% extends 'index.html' %}
{% block title %}Transactions{% endblock %}
{% block body %}
{% include 'layout/dash.html' %}
    <div class="col-sm-10">
        <div class="row">
            <form class="form-horizontal" action="#" method="post">
                {% csrf_token %}
                {% include 'form_template.html' %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% if request.method == 'POST' %}
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10">
                <h4>{{ bank.name }}</h4>
                <span>Capital Adequacy: {{ bank.balance }}</span>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Bank</th>
                    <th>Officer</th>
                </thead>
                <tbody>
                    {% for tran in trans %}
                        <tr>
                            <td>{{ tran.type }}</td>
                            <td>{{ tran.amount }}</td>
                            <td>{{ tran.date }}</td>
                            <td>{{ tran.bank.name }}</td>
                            <td>{{ tran.bank_officer.last_name }}, {{ tran.officer.first_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}